body {
  background-color: rgb(84, 6, 84) !important;
}

/* navigation bar styles */
.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    45deg,
    rgb(84, 6, 84) 1%,
    rgb(135, 3, 135) 25%,
    rgb(84, 6, 84) 60%
  ) !important;
}

div.ui.container.navBar a.item {
  font-weight: bold;
  position: relative;
  color: transparent;
  transition: color 0.5s ease, background-color 0.5s ease;
}

div.ui.container.navBar a.item:hover,
div.ui.container.navBar a.item.active {
  font-weight: bold;
  color: white;
}

a.item span {
  max-width: 0;
  /* -webkit-transition: max-width 1s; */
  transition: max-width 1s, margin-left 1s ease-in;
  display: inline-block;
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
}

a.item:hover span,
a.item.active span {
  max-width: 10rem;
  margin-left: 10px;
  transition: max-width 1s, margin-left 0s;
}

a.item i.icon {
  color: #d4d4d5;
  margin: 0 !important;
}

/* home page styles */
.homepage-body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    45deg,
    rgb(84, 6, 84) 5%,
    rgb(135, 3, 135) 50%,
    rgb(84, 6, 84) 90%
  ) !important;
  height: 100vh;
}

.homepage-body h1 {
  font-size: 4em;
  font-weight: normal;
}

.homepage-body h2 {
  font-size: 2em;
  font-weight: normal;
}

a.ui.huge.basic.button.homepage {
  border-style: solid;
  border-radius: 20px;
  border-color: #d4d4d5;

  color: #d4d4d5 !important;
  font-weight: 700 !important;

  transition: border-radius 0.5s ease, border-style 0.5s ease,
    background-color 0.5s ease, color 0.5s ease;
}

a.ui.huge.basic.button.homepage:hover,
a.ui.huge.basic.button.homepage:focus {
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(153, 12, 153) !important;
  border-color: #d4d4d5;
  box-shadow: none;

  color: rgb(153, 12, 153) !important;
  font-weight: 700 !important;
}

/* end home page styles */

/* positive button */
a.ui.positive.button,
button.ui.positive.button {
  background-color: blueviolet;
}

a.ui.positive.button:hover,
a.ui.positive.button:focus,
button.ui.positive.button:hover,
button.ui.positive.button:focus {
  background-color: rgb(113, 35, 185);
}

/* negative button */
a.ui.negative.button,
button.ui.negative.button {
  background-color: rgb(203, 40, 135);
}

a.ui.negative.button:hover,
a.ui.negative.button:focus,
button.ui.negative.button:hover,
button.ui.negative.button:focus {
  background-color: rgb(231, 46, 154);
}

/* button or */
.ui.buttons .or:before {
  background-image: linear-gradient(rgb(203, 40, 135) 50%, blueviolet 50%);
}

/* tag button */
.tag-button {
  margin: 2px !important;
  padding: 5px !important;
}

/* segment */
.ui.basic.top.attached.segment {
  background-color: rgb(137, 10, 137);
  border: 1px solid #d4d4d5;
}
